h1{
text-align: center;
font-size: 80px;
color:brown;
}

h3{
font-size: 30px;
color:brown;
}
h4{
font-size: 20px;
color:brown;
}

p{
margin-right:40 ;
font-size:25px;
color:blue;
}

ol{
color: cornflowerblue;
}