<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cystic Acne</title>
</head>
<body>
<style>
body {
  background-image: url("C:\\Users\\hi\\Desktop\\Projects\\Data_Science_projects\\DL Projects\\Acne_Detector\\static\\index_page_image.jpg");
}
</style>

    <h3>It seems like there is 90% chance of you having CYSTIC ACNE. Read the below points for confirming it.</h3>
    <h2>Characteristics of Cystic Acne:</h2>
    <ul>
        <li>Large pus-filled with a white/pale yellow spot in the centre of the acne</li>
        <li>Redness around the pimple</li>
        <li>Inflammation</li>
        <li>Painful and soft to touch</li>
    </ul>
    <b>If you don't feel like having at least three of these characteristics then go back and make predictions again. If you have at least three then follow up with the page to get more info and tactics to prevent or cure this. </b>
    <br>
    <center>
        <h1><i>Cystic Acne</i></h1>
    </center>
    <h2>What is Cystic Acne?</h2>
    <p>Our skin consists of sebaceous glands, which produce sebum (natural oil). When excess sebum is produced, it leads to clogged pores. This creates an environment for bacteria (P. acnes) to thrive, which in turn leads to the development of cysts in the deepest layers of the skin. </p>
    <h2>What actually causes this kind of Acne?</h2>
    <ul>
        <li>Hormonal Imbalance.</li>
        <li>Taking lot of Stress.</li>
        <li>Improper Medications/ Taking inappropriate medicines.</li>
        <li>Poor Hygiene.</li>
        <li>Using wrong or harmful skin products.</li>
        <li>Exposure to Sun for longer hours.</li>
        <li>Eating Junk Food in excess.</li>
    </ul>
    <h2>How to treat Cystic Acne Naturally?</h2>
    <p>Well there are many ways to treat acne but we would suggest you some ways to cure this Naturally. These are proven to be effective for some people who got relief from this acne.</p>
    <ol>
        <li><b>Ice</b></li>
        <li><b>White vinegar<b/></li>
        <li><b>Turmeric<b/></li>
        <li><b>Tea tree oil<b/></li>
        <li><b>Crushed aspirin and water mask<b/></li>
    </ol>
    <h2>Can I use any of the Antibiotics or Ointment ?</h2>
    Since cystic acne is the most severe kind of acne, it requires a dermatologist intervention. According to your condition, your doctor may suggest a treatment method or combination therapy. Here are some medical treatment options:
    <br>
    <b><i>**Note:**</i></b>
    We strongly suggest you to have Doctor's advice first before using any of this Ointments/ Medicines.
    <ol>
        <li><b>Benzoyl Peroxide:</b></li>
            <p>Benzoyl peroxide functions by reducing the bacteria causing cystic acne and thereby reducing inflammation. It can be used in concentrations of 2.5 - 10 %. It comes in the form of cleansers and bars, lotions, creams and gels. Benzoyl peroxide has a tendency to dry out your skin. Make sure you know your skin type and then use the right concentration of benzoyl peroxide.</p>
        <li><b>Retinoids:</b></li>
            <p>A derivative of Vitamin A, Isotretinoin can be taken in the form of tablets. This is one of the most effective forms of treating cystic acne. Isotretinoin shows results in 6-8 months of usage. Although it is very effective, it can have some side effects like mood swings, inflammatory bowel syndrome, bruising, skin inflammation, urine in blood, headaches and muscle pains. Topical retinoids are also recommended for cystic acne, even though they do not carry the same power as oral retinoids. They come in the form of creams, gels and lotions. Topical retinoids can make your skin red and make it susceptible to sunburn. Using a sunscreen is a good idea when you are on topical retinoids.</p>
        <li><b>Triamcinolone:</b></li>
            <p>Triamcinolone is a corticosteroid that can be directly injected into the cyst to reduce inflammation and soothe cystic acne. This treatment is done by a certified dermatologist.</p>
        <li><b>Birth Control Pills:</b></li>
            <p>Birth control pills contain estrogen, which can regulate overall hormone levels and reduce cystic acne. You can’t pop oral contraceptives to cure cystic acne if you are a smoker, have blood clots or are planning a pregnancy. Incision and draining the cyst is another way to treat it. Make sure you get it done under the supervision of a dermatologist.</p>
    </ol>
    <h2>Precautions that can keep you away from this:</h2>
    <ul>
        <li><b>Cleanse:</b></li>
             Wash your face twice a day in the morning and night to remove all the dirt, makeup residue and excess oils from your face. Make sure to use a gentle cleanser and not scrub too much, which can aggravate cystic acne.
        <li><b>Moisturize:</b></li>
            Hydrate your skin and let your oily skin repair its natural barrier with a good moisturizer. Make sure it is non comedogenic and oil free so that it does not clog your pores further.
        <li><b>Never Sleep With Your Makeup On:</b></li>
             No matter how tired you are, make sure to remove your makeup before hitting the bed. Also stick to non-comedogenic and oil-free makeup.
        <li><b>Sunscreen:</b></li>
             Wear sunscreen before stepping out as this can protect your skin from sunburns. A lot of cystic acne medications tend to make your skin susceptible to sunburn.
        <li><b>Kick Away Stress:</b></li>
            Practice yoga, meditation or some form of exercise to keep stress at bay. Stress is linked to acne breakouts.
        <li><b>Healthy Diet:</b></li>
            Avoid foods full of carbs, sugars and fats. Increase your intake of fresh fruits and vegetables. Pro tip: Do not touch, pick or squeeze acne. By doing so, you are only pushing the infection deeper and spreading it.
    </ul>
    <br>
    <h2><i>THANK YOU FOR READING, IAM GLAD THAT YOU HAVE MADE IT TILL HERE HOPE IT HELPS YOU IN ANY WAY.</i></h2>
</body>
</html>