<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Acne</title>
</head>
<body>
<style>
body {
  background-image: url("C:\\Users\\hi\\Desktop\\Projects\\Data_Science_projects\\DL Projects\\Acne_Detector\\static\\index_page_image.jpg");
}
</style>
    <h3>It seems like there is 90% chance that you dont have any kind of ACNE present on your face. Still we suggest you to follow these precautions so that you would never have this problem atleast once in your life time.</h3>
    <h2>Preventions to be considered for healthy skin:</h2>
    <ul>
        <li>Wash your face with a mild cleanser two times a day.</li>
        <li>Follow a daily skincare regimen.</li>
        <li>Use products that suit your skin type.</li>
        <li>Moisturize daily.</li>
        <li>Apply sunscreen every day and re-apply every two hours.</li>
        <li>Follow a healthy diet.</li>
        <li>Drink at least 2 litres of water every day.</li>
        <li>Use lukewarm water while washing your face.</li>
    </ul>
    <br>
    <h2><i>THANK YOU FOR READING, IAM GLAD THAT YOU HAVE MADE IT TILL HERE HOPE IT HELPS YOU IN ANY WAY.</i></h2>
</body>
</html>