<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nodular acne</title>
</head>
<body>
<style>
body {
  background-image: url("C:\\Users\\hi\\Desktop\\Projects\\Data_Science_projects\\DL Projects\\Acne_Detector\\static\\index_page_image.jpg");
}
</style>
    <h3>It seems like there is 90% chance of you having NODULAR ACNE. Read the below points for confirming it.</h3>
    <h2>Characteristics of Nodular Acne:</h2>
    <ul>
        <li>Red, inflamed lesions on the surface of your skin.</li>
        <li>No head.</li>
        <li>Painful bumps on your face, chest, neck or back.</li>
        <li>Usually big in size.</li>
    </ul>
    <b>If you don't feel like having at least three of these characteristics then go back and make predictions again. If you have at least three then follow up with the page to get more info and tactics to prevent or cure this. </b>
    <br>
    <h1><i>Nodular Acne</i></h1>
    <h2>What are Acne Nodules? How are they different from Cystic Acne</h2>
    <p>Nodular acne and cystic acne are severe forms of acne. They both are inflamed lesions that show up on the surface of the skin. However, nodular acne does not have a head, whereas cystic acne does.</p>
    <p>Cystic acne is pus-filled and usually shows up as red bumps with a white head. They’re also usually softer than nodules because they are pus-filled.</p>
    <p>Nodular acne, on the other hand, appears as bumps on the surface of your skin. These bumps are red, painful and harder as compared to cystic acne lesions.</p>
    <h2>What actually causes this kind of Acne?</h2>
    <ul>
        <li>Just like a pimple, whitehead and blackhead, nodular acne occurs when a pore gets clogged by oil, dirt and P. acnes bacteria.</li>
        <li>This bacteria lives on the surface of our skin.</li>
        <li>At times, it may get trapped in between dirt and oil, resulting in acne breakouts.</li>
        <li>One of the main characteristics of nodular acne is inflammation in the deeper layers of the skin. Squeezing or picking at the bump can worsen the symptoms of nodular acne.</li>
    </ul>
    <h2>How to treat Acne Pustules Naturally?</h2>
    <p>In case you prefer giving natural reme dies a shot before you visit a dermatologist, here is a list of ingredients that may help reduce nodular acne symptoms.</p>
    <ul>
        <li>Apple Cider Vinegar:</li>
        <p>Apple cider vinegar has antibacterial properties that can kill the P. acnes bacteria, responsible for nodular acne breakouts.</p>
        <b><i>How To Use:</i></b>
        <p>Dilute a few drops of apple cider vinegar in warm water and apply to the affected area of your skin.</p>
        <li>Try Exercising Or Meditating:</li>
        <p>Deep breathing, meditating and even exercising regularly can help reduce your stress levels. Studies suggest that stress can contribute to acne breakouts. Trying to divert your mind or reducing your stress levels can largely impact acne symptoms.</p>
    </ul>
    <h2>Topical Medications To Treat Nodular Acne</h2>
    <p>Topical creams are directly applied onto the nodule. Unlike oral medicines, these are not to be consumed by you. Your dermatologist may prescribe:</p>
    <ol>
        <li>Topical Antibiotics:</li>
        <p><b>These may help kill the bacteria residing deep inside your pores.</b></p>
        <i>Side-Effects Of Topical Antibiotics:</i>
        <ul>
            <li>Allergic reactions (rashes, skin irritation)</li>
            <li>Skin inflammation</li>
            <li>Redness</li>
        </ul>
        <li><b>Benzoyl Peroxide:</b></li>
        <p>Your doctor may recommend prescription-strength benzoyl peroxide gel. These are usually more concentrated than the ones available at the drugstore.</p>
        <i>Side Effects</i>
        <ul>
            <li>Itchiness, tingling sensations</li>
            <li>Skin dryness and peeling</li>
            <li>Redness</li>
        </ul>
        <li><b>Salicylic Acid:</b></li>
        <p>Your doctor may prescribe topical gels containing high concentrations of salicylic acid. These can be used to dry out the oil trapped under your skin.</p>
        <i>Side Effects:</i>
        <ul>
            <li>Severe headache</li>
            <li>Severe stomach pain</li>
            <li>Difficulty in breathings</li>
            <li>Tingling and dryness of skin</li>
        </ul>
        <li>Topical Retinoids:</li>
        <p>These are Vitamin A derivatives. They help unclog pores and remove dirt, bacteria and oil.</p>
        <i>Side Effects:</i>
        <ul>
            <li>Skin irritation</li>
            <li>Sun-sensitivity</li>
            <li>Dryness</li>
        </ul>
    </ol>
    <h2>How Can You Prevent Nodular Acne?</h2>
    <ul>
        <li>Wash your face two times a day with lukewarm water.</li>
        <li>Wash your face post work-out, incase you exercise regularly.</li>
        <li>Moisturize your face as soon as you are out of the shower and once before you sleep.</li>
        <li>Take off your makeup before you go to bed.</li>
        <li>Avoid touching your face constantly.</li>
        <li>Wash your hands before applying makeup.</li>
        <li>Apply sunscreen everyday.</li>
    </ul>
    <br>
    <h2><i>THANK YOU FOR READING, IAM GLAD THAT YOU HAVE MADE IT TILL HERE HOPE IT HELPS YOU IN ANY WAY.</i></h2>
</body>
</html>