<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acne Papules</title>
</head>
<body>
<style>
body {
  background-image: url("C:\\Users\\hi\\Desktop\\Projects\\Data_Science_projects\\DL Projects\\Acne_Detector\\static\\index_page_image.jpg");
}
</style>
    <h3>It seems like there is 90% chance of you having ACNE PAPULES. Read the below points for confirming it.</h3>
    <h2>Characteristics of Acne Papules:</h2>
    <ul>
        <li>Small, red bumps on the surface of your skin.</li>
        <li>Raised or flat on the top.</li>
        <li>Red or pink in color.</li>
    </ul>
    <b>If you don't feel like having at least three of these characteristics then go back and make predictions again. If you have at least three then follow up with the page to get more info and tactics to prevent or cure this. </b>
    <br>
    <h1><i>Acne Papules</i></h1>
    <h2>What are Acne Papules? and how are they different from pustules?</h2>
    <p>Acne papules are reddish lesions that appear on the surface of your skin due to clogged pores. They are typically small in size (usually less than 5mm) and are not pus-filled. If they do accumulate pus, they convert into a pustule.</p>
    <p>Pustules are nothing but what we typically refer to as a pimple. They have a pus-filled yellow or white head and are usually bigger in size than papules.</p>
    <p>Papules are not a serious disease. A number of in-office and home remedies are available to treat acne vulgaris. At times, papules may form clusters, resulting in a rash after starting a new medication. In such a case, consult your doctor.</p>
    <h2>What actually causes this kind of Acne?</h2>
    <p>Pores blocked by dirt, oil and bacteria cause acne papules. Factors that can trigger acne breakouts include:</p>
    <ul>
        <li><b>Diet:</b></li>
        <p>Studies suggest that a diet rich in carbohydrates can contribute to acne symptoms. However, other research says that the link between diet and acne breakouts is not clear.</p>
        <li><b>Stress:</b></li>
        <p>Studies suggest that stress can be a major acne-causing factor. Research suggests that relaxation therapies that reduce stress levels can improve acne symptoms.</p>
        <li><b>Hormonal Changes:</b></li>
        <p>An increase in androgen levels in women can result in excess oil production in your skin. Overproduction of sebum is one of the major acne-causing factors.</p>
        <li>Genes:</li>
    </ul>
    <h2>How Can You Treat Acne Papules?</h2>
    <p>Various in-office and home remedies can help reduce acne breakouts. Topical over-the-counter creams are also available to reduce papule symptoms.</p>
    <ol>
        <li><h3>Topical Medications To Treat Acne Papules:</h3></li>
            <ol>
            <li><b>Benzoyl Peroxide:</b></li>
            <p>Benzoyl peroxide has been established as one of the safest and most effective topical medications used to treat mild to moderate acne. Topical forms of benzoyl peroxide can be used to reduce symptoms of papular acne.</p>
            <i>Side Effects</i>
                <ul>
                    <li>Itchiness, tingling sensations</li>
                    <li>Skin dryness and peeling</li>
                    <li>Redness</li>
                </ul>
            <li><b>Salicylic Acid:</b></li>
            <p>Salicylic acid is widely used in a number of anti-acne skincare products. It has anti-inflammatory properties that can help reduce acne breakouts.</p>
            <i>Side Effects:</i>
                <ul>
                    <li>Severe headache</li>
                    <li>Severe stomach pain</li>
                    <li>Difficulty in breathings</li>
                    <li>Tingling and dryness of skin</li>
                </ul>
            <li>Topical Retinoids:</li>
            <p>These are often referred to as the ‘core of topical therapy’. Topical retinoids have anti-inflammatory properties that reduce acne lesions and improve skin texture. This helps maintains clear and healthy skin.</p>
            <i>Side Effects:</i>
                <ul>
                    <li>Skin irritation</li>
                    <li>Sun-sensitivity</li>
                    <li>Dryness</li>
                </ul>
            </ol>
        <li><h3>Oral Medication to treat Acne Papules:</h3></li>
            <ol>
                <li><b>Oral Antibiotics:</b></li>
                <p>Antibiotics are effective in reducing acne breakouts and improving papular acne symptoms. They work by killing acne-causing bacteria that majorly contribute to acne lesions. They also have anti-inflammatory properties that reduce swelling and redness. Antibiotics are used in combination with topical treatments for better results.</p>
                <li><b>Birth Control Pills:</b></li>
                <p>Certain medically reviewed birth control pills can help reduce acne breakouts. Hormonal changes often contribute to acne breakouts. Some birth control pills are hormone-balancing and can improve papular acne symptoms.</p>
                <li><b>Anti-Androgen Pills:</b></li>
                <p>Hormonal changes may contribute to an increase in androgen levels in your body. This can result in acne lesions. Anti-androgen pills are effective in reducing acne symptoms.</p>
            </ol>
    </ol>
    <h2>How Can You Prevent Acne Pustules ?</h2>
    <ul>
        <li>Wash your face with a mild cleanser two times a day.</li>
        <li>Follow a daily skincare regimen.</li>
        <li>Use products that suit your skin type.</li>
        <li>Moisturize daily.</li>
        <li>Apply sunscreen every day and re-apply every two hours.</li>
        <li>Follow a healthy diet.</li>
        <li>Drink at least 2 litres of water every day.</li>
        <li>Use lukewarm water while washing your face.</li>
    </ul>
    <br>
    <h2><i>THANK YOU FOR READING, IAM GLAD THAT YOU HAVE MADE IT TILL HERE HOPE IT HELPS YOU IN ANY WAY.</i></h2>
</body>
</html>