<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acne Pustules</title>
</head>
<body>
<style>
body {
  background-image: url("C:\\Users\\hi\\Desktop\\Projects\\Data_Science_projects\\DL Projects\\Acne_Detector\\static\\index_page_image.jpg");
}
</style>
    <h3>It seems like there is 90% chance of you having ACNE PUSTULE. Read the below points for confirming it.</h3>
    <h2>Characteristics of Acne Pustule:</h2>
    <ul>
        <li>Small pus-filled with a white/pale yellow spot in the centre of the acne</li>
        <li>Redness/pinkish pimple</li>
        <li>Inflammation</li>
        <li>Painful and soft to touch</li>
    </ul>
    <b>If you don't feel like having at least three of these characteristics then go back and make predictions again. If you have at least three then follow up with the page to get more info and tactics to prevent or cure this. </b>
    <br>
    <h1><i>Acne Pustule</i></h1>
    <h2>What are Pustules?</h2>
    Those big/small, pus-filled bumps that appear on your skin are nothing but pustules. They are usually bigger than pimples and more often than not have a white head (pus-filled) surrounded by red, inflamed skin.
    <h2>What actually causes this kind of Acne?</h2>
    <ul>
        <li>Pustules are typically caused due to hormonal imbalances.</li>
        <li>They are a common phenomena and usually affect teenagers during their puberty period.</li>
        <li>Your skin is made up of tiny pores beneath which lie sebaceous glands. These glands produce an oil called sebum that is vital to maintain good skin. When pores get clogged with oil, dirt and bacteria, it can result in any form of acne including pustules.</li>
        <li>At times, pustules may become hard and painful. They also increase in size. </li>
        <li>These develop into cystic acne, a more severe form of acne. </li>
        <li>Pustules can also be caused due to an allergic reaction, causing inflammation of the skin.</li>
    </ul>
    <h2>How to treat Acne Pustules Naturally?</h2>
    <b>Tea Tree Oil:</b>
    <p>Tea tree oil has powerful anti-inflammatory properties and can be used to treat mild to moderate acne. Tea tree oil can be used in approximately 5 percent concentrations to reduce symptoms of pustular acne.</p>
    <h2>Can I use any of the Antibiotics or Ointment ?</h2>
    <p>Pustules eventually heal on their own. However, there are a variety of ways to speed up their healing process. They can be treated with various over-the-counter topical and oral medication.</p>
    <p>Over-the-counter medications work by drying out your skin and soaking up excess oil. This reduces swelling and pain. Some OTC creams, gels and oral medications also work as exfoliators and remove the top layer of your skin, thus removing dead skin cells and dirt.</p>
    <ul>
        <li><b>Topical Medication:</b></li>
            <ol>
                <li><i>Salicylic Acid:</i></li>
                    <p>Salicylic acid has anti-inflammatory properties. It is a peeling agent and works as an exfoliator by removing the top layer of your skin. It can be used to treat pustular acne. Side effects of salicylic acid include skin irritation, burning sensations, body aches and difficulty in breathing when used in high doses.</p>
                <li><i> Calamine Lotion:</i></li>
                <p>Calamine lotion is not a primary treatment for acne. However, it can be used to dry out pimples, thus reducing their appearance. It cannot be used to prevent future breakouts.</p>
                <li><i>Benzoyl Peroxide:</i></li>
                <p>Topical forms of benzoyl peroxide can be used as a mild to moderate acne treatment. Benzoyl peroxide gel has been used over many years in dermatology. It has anti-inflammatory properties that help reduce swelling and can dry-up the pustule. Side effects of benzoyl peroxide include dryness and burning sensations. If you have sensitive skin, this may not be recommended for you to use.Long term & continuous use of benzoyl peroxide is harmful.</p>
            </ol>
        <li><b>Oral Medication To Treat Pustules:</b></li>
            <ol>
                <li><i>Antibiotics:</i></li>
                <p>Oral antibiotics can help reduce swelling and kill acne-causing bacteria. They are effective in treating pustular acne and are usually recommended to be used in combination with a topical medication.</p>
                <p>Doxycycline and amoxicillin are usually recommended to treat acne. Despite being effective, oral antibiotics cannot be considered a prolonged treatment option. The efficacy of antibiotics reduces after a certain number of days. Talk to your dermatologist if your skin is prone to pustular acne for long-term treatments.</p>
                <li><i>Isotretinoin:</i></li>
                <p>This Vitamin A derivative has proved to be effective in treating severe cystic and nodular acne. Isotretinoin is a popular oral medication, usually recommended in severe acne cases. It has anti-inflammatory and antibacterial properties that kill acne-causing bacteria and reduce swelling.</p>
            </ol>
    </ul>
    <h2>Precautions that can keep you away from this:</h2>
    <ul>
        <li>Wash your face two times a day with a mild cleanser.</li>
        <li>Moisturize as soon as you are out of the shower.</li>
        <li>Don’t scrub your face while exfoliating.</li>
        <li>Pat dry with a clean towel.</li>
        <li>Don’t pop your pimples.</li>
        <li>Change your pillow covers regularly.</li>
        <li>Drink lots of water.</li>
        <li>Follow a healthy diet.</li>
    </ul>
    <br>
    <h2><i>THANK YOU FOR READING, IAM GLAD THAT YOU HAVE MADE IT TILL HERE HOPE IT HELPS YOU IN ANY WAY.</i></h2>
</body>
</html>